body {
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
}
/* head kısmı */
h3 {
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.head {
  text-decoration: none;
  background-color: #e7e9fc;
}
.Web {
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 3%;
}

.studio {
  text-decoration: none;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 3%;
}
.mail-tel a:hover {
  color: #404bbf;
}
.page-menu-list {
  display: flexbox;
  gap: 40px;
}
.page-menu-article {
  padding: 24px 0;
}
.page-menu-list a {
  text-decoration: none;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 2%;
}
.page-menu-list li {
  list-style-type: none;
}

.page-menu-list a:hover {
  color: #404bbf;
}

.mailto {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4rem;
  letter-spacing: 2%;
  text-decoration: none;
}
.tel {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4rem;
  letter-spacing: 2%;
  text-decoration: none;
}
/*button vs */
.effective-solutions {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 3.75rem;
  color: #ffffff;
  background-color: #2e2f42;
}
.effective-solutions h1 {
  font-size: 56px;
}
.effective-solutions button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 4%;
  color: #ffffff;
  background-color: #4d5ae5;
}
.effective-solutions button:hover {
  background: #404bbf;
}
/*hedefler*/
.goals-team li {
  list-style-type: none;
}

.strategy-goals {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.strategy-goals p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #434455;
}
.goals-h3-class {
  margin-bottom: 8px;
}
.goals-team-li {
  width: calc((100%-71px) / 4);
}
.list-class {
  position: absolute;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.punctuality-goals {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.punctuality-goals p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #434455;
}

.diligence-goals {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.diligence p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #434455;
}

.technologies-goals {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.technologies-goals p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #434455;
}
/* ekip tanıtım*/
.our-team {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 136x;
  line-height: 2.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.our-team li {
  list-style-type: none;
}

.our-team p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #434455;
}
.mark-card li:hover {
  color: #ffffff;
}

.our-team h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.camila {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}
.mark {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20x;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}
.tom {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20x;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}
.daniel {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20x;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.app-1 {
  list-style-type: none;
}
.app-2 {
  list-style-type: none;
}
.app-1 h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}
.app-2 h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}
.app-1 p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #434455;
}
.app-2 p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #434455;
}

.footer-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #e7e9fc;
}

.web1 {
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3rem;
  letter-spacing: 3%;
}

.studio1 {
  text-decoration: none;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3rem;
  letter-spacing: 3%;
}

.footer-href {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.main-header {
  border-bottom: 1px solid #e7e9fc;
}
.container container {
  display: flex;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-1 {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.Logo-nav {
  margin-right: 76px;
  color: white;
}
.main-nav {
  display: flex;
  align-items: center;
}
.Logo-link {
  margin-right: 76px;
}
.header-div {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
  margin-left: 0 auto;
}
.header-div ul {
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
}
.page-menu-list a {
  gap: 40px;
  align-items: center;
  margin-right: 30x;
}
.mail-tel li {
  list-style-type: none;
}
.mail-tel-list {
  display: flex;
  gap: 40px;
  padding-left: 850px;
}
.mail-tel {
  display: flex;
  gap: 40px;
}
.mail-tel a {
  display: flex;
}
.effective-solutions {
  border: solid white;
  padding: 188px 0;
}
.effective-title {
  max-width: 496px;
}

.effective-solutions h1 {
  max-width: 496px;
  margin-left: 500px;
  margin-top: 200px;
  align-items: center;
  display: flex;
}
.order-button {
  display: block;
  margin: 0 auto;
  display: block;
  margin: 0 auto;
  margin-left: 650px;
  align-items: center;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  cursor: pointer;
}
/* section and portfolio*/
.team-section-content {
  padding: 120px 0;
  width: calc((100% - 72px) / 4);
}
.goals-team {
   
  display: flex;
  padding-left: 420px;
  gap: 24px;
  margin: 0 auto;
}
.goals-team li {
  margin-bottom: 20px;
}
.section-our-team {
  margin: 0;
}
.section-our-team h2 {
  display: flex;
  padding-left: 640px;
}
.container-2 {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  width: calc((100% - 72px) / 4);
  position: absolute;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.our-team {
  display: flex;
  margin-left: 80px;
  gap: 24px;
}
.our-team h2 {
  margin-bottom: 72px;
}
.our-team li {
  margin-right: 20px;
  display: block;
}
.team-member-name {
  text-align: center;
  margin-bottom: 8px;
}
.team-member-info {
  padding: 32px 0;
}
.team-member-title {
  margin-bottom: 72px;
  text-align: center;
}
.mark-list-card:first-child {
  border-radius: 0px 0px 4px 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.tom-list-card:first-child {
  border-radius: 0px 0px 4px 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.camilaark-list-card:first-child {
  border-radius: 0px 0px 4px 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.daniel-list-card:first-child {
  border-radius: 0px 0px 4px 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.mark-list-card {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
}
.mark-list-card:first-child {
  border-radius: 0px 0px 4px 4px;
}

.mark-list-card div:hover {
  border: solid #ffffff;
}
.mark-name {
  margin-bottom: 8px;
}

.tom-list-card {
  background-color: #ffffff;
}
.tom-list-card div:hover {
  border: solid #ffffff;
}
.camila-list-card {
  background-color: #ffffff;
}
.camila-list-card div:hover {
  border: solid #ffffff;
}

.daniel-list-card {
  background-color: #ffffff;
}
.daniel-list-card div:hover {
  border: solid #ffffff;
}
.portfolio-title {
  padding-left: 900px;
  padding-top: 250px;
}
.section-portfolio {
  padding: 120px 0;
  background-color: #E7E9FC;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  text-decoration: none;
  list-style-type: none;
  padding-left: 420px;
}

.portfolio-item-1 {
  width: calc((100% - 72px) / 4);
  padding: 16px;
  width: calc(25% - 24px);
  height: auto;
}
.portfolio-item-2 {
  width: calc((100% - 72px) / 4);
  padding: 16px;
  width: calc(25% - 24px);
  height: auto;
}
.portfolio-card {
  border: none;
  border-bottom: 1px solid #e7e9fc;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.portfolio-list-2 {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style-type: none;
  padding-left: 420px;
}
.porfolio-list li {
  margin-right: 20px;
  display: block;
}
.porfolio-list-2 {
  display: flex;
  margin-left: 120px;
}
.porfolio-list-2 li {
  margin-right: 20px;
  display: block;
}
.footer-footer a {
  display: flex;
  padding-left: 200px;
}
.footer-footer p {
  padding-left: 200px;
  max-width: 264px;
}
