body {
  background-color: #e7e9fc;
  font-family: "Roboto", sans-serif;
}
h3 {
  font-size: 20px;
}
.head {
  text-decoration: none;
  background-color:#e7e9fc ;
}
.Web {
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 3%;
}

.studio {
  text-decoration: none;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 3%;
}
.mail-tel a:hover {
  color: #404bbf;
}
.page-menu-list a {
  text-decoration: none;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 2%;
}
.page-menu-list li {
  list-style-type: none;
}

.page-menu-list a:hover {
  color: #404bbf;
}

.mailto {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4rem;
  letter-spacing: 2%;
  text-decoration: none;
}
.tel {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4rem;
  letter-spacing: 2%;
  text-decoration: none;
}

.effective-solutions {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 3.75rem;
  color: #ffffff;
  background-color: #2e2f42;
}
.effective-solutions h1 {
  font-size: 56px ;
}
.effective-solutions button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 4%;
  color: #ffffff;
  background-color: #4d5ae5;
}
.effective-solutions button:hover {
  background: #404bbf;
}
.goals li {
  list-style-type: none;
}

.strategy {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.strategy p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #434455;
}

.punctuality {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.punctuality p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #434455;
}

.diligence {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.diligence-p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #434455;
}

.technologies {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.technologies p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #434455;
}

.our-team {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 136x;
  line-height: 2.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.our-team li {
  list-style-type: none;
}

.our-team p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #434455;
}
.mark-card li:hover {
  color: #ffffff;
}

.our-team h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.camila {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}
.mark {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20x;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}
.tom {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20x;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}
.daniel {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20x;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.our-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.app {
  list-style-type: none;
}

.app h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #2e2f42;
}

.app p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
}

.footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 2%;
  color: #e7e9fc;
}

.web1 {
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3rem;
  letter-spacing: 3%;
}

.studio1 {
  text-decoration: none;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3rem;
  letter-spacing: 3%;
}

.footer-href {
  text-decoration: none;
}

.header-div {
  border-bottom: 1px solid #e7e9fc;
 display: flex;
 align-items: center;
 margin-left: 200px;
}
.header-div ul {
  display: flex;
  align-items: center;
  margin-right: 450px;
  margin-left: 50px;
}
.page-menu-list a {
  gap: 40px;
  align-items: center;
  margin-right: 30px;
}
.mail-tel {
  display: flex;
}
.mail-tel a {
  margin-right: 20px;
}
.effective-solutions {
  border: solid white;
  width: 1440px;
  height:600px;
  margin-top: 20px;
}
.effective-solutions h1 {
  width:496px;
  height: 120px;
  margin-left: 500px;
  margin-top: 200px;
  align-items: center;
  display: flex;
}
.effective-solutions button {
  display: block;
  margin: 0 auto;
  width: 169px;
  height:60px;
  margin-left:650px;
  align-items: center;
  border-radius: 7%;
  border-color:#4d5ae5;
}
.goals  {
  width: 1128px;
  display: flex;
  margin-left: 100px;
  margin-top: 40px;
}
.goals li {
margin-right: 20px;
}
.section-our-team h2 {
  padding-left: 620px;
  margin-top: 136px;
}
.flex-container {
  display: flex;
  padding-left: 50px;
}
.flex-container div {
  background-color: #ffffff;
  border-radius: 0px, 0px, 4px, 4px;
  margin-right: 20px;
  padding: 0px , 0px, 32px, 0px;
  gap: 32px;
}
.flex-container h3 {
  padding-left: 80px;
}
.product-p {
padding-left: 70px;
}
.tom-p {
  padding-left: 50px;
}
.camila-p {
  padding-left: 100px;
}
.daniel-p { 
  padding-left: 100px;
}
